<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.crc.masscustom">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
            android:name=".base.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".splash.SplashActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".bluetooth.BluetoothActivity">
        </activity>
        <activity android:name=".Main.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".bluetooth.BluetoothActivity" />
        </activity>
        <activity android:name=".Measure.HeartBeatMeasureActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Main.MainActivity" />
        </activity>
        <activity android:name=".statistics.StatisticActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Main.MainActivity" />
        </activity>
        <activity android:name=".battery.BatteryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Main.MainActivity" />
        </activity>
        <service android:name=".bluetooth.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>